# File manager
if which nautilus >/dev/null 2>&1 ; then
  alias open='nautilus'
fi

# Set pbcopy and pbpaste if xsel exists
if which xsel >/dev/null 2>&1 ; then
  alias pbcopy='xsel --clipboard --input'
  alias pbpaste='xsel --clipboard --output'
fi

if which sfdx >/dev/null 2>&1 ; then
  alias sfpush='sfdx force:source:push'
  alias sflist='sfdx force:org:list'
  alias sfolist='sfdx force:org:list'
  alias sfulist='sfdx force:user:list'
fi

passgen () {
  local len=${1:-16}
  cat /dev/urandom | LC_CTYPE=C tr -dc 'a-zA-Z0-9-!@#$%^&*()_+~=[]{}|<>/?' | fold -w "$len" | head -n 1
}

alias pwdc='pwd | pbcopy'
alias cdp='cd $(pbpaste)'
alias k=kubectl

# ls, the common ones I use a lot shortened for rapid fire usage
alias l='ls -lFh'     #size,show type,human readable
alias la='ls -lAFh'   #long list,show almost all,show type,human readable
alias lr='ls -tRFh'   #sorted by date,recursive,show type,human readable
alias lt='ls -ltFh'   #long list,sorted by date,show type,human readable
alias ll='ls -l'      #long list
alias ldot='ls -ld .*'
alias lS='ls -1FSsh'
alias lart='ls -1Fcart'
alias lrt='ls -1Fcrt'

alias fd='find . -type d -name'
alias ff='find . -type f -name'
