# File manager
if which nautilus >/dev/null 2>&1 ; then
  alias open='nautilus'
fi

# Set pbcopy and pbpaste if xsel exists
if which xsel >/dev/null 2>&1 ; then
  alias pbcopy='xsel --clipboard --input'
  alias pbpaste='xsel --clipboard --output'
fi

if which sfdx >/dev/null 2>&1 ; then
  alias sfpush='sfdx force:source:push'
  alias sflist='sfdx force:org:list'
  alias sfolist='sfdx force:org:list'
  alias sfulist='sfdx force:user:list'
fi

passgen () {
  local len=${1:-16}
  cat /dev/urandom | LC_CTYPE=C tr -dc 'a-zA-Z0-9-!@#$%^&*()_+~=[]{}|<>/?' | fold -w "$len" | head -n 1
}

alias pwdc='pwd | pbcopy'
alias cdp='cd $(pbpaste)'
alias k=kubectl
